body{

}

.outer_lightbox{
	position: absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0,0.7);
	display: none;

}
.inner_lightbox{

}

img {
	margin: 0 auto;
	display: block;
}
.exit{
	color:red;
}
.inner_lightbox a{
	float:right;
	max-width: 20px;
	max-height: 20px;
	margin-right: 15%;
}